<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar Example</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">

</head>
<body>
<th:block th:insert="~{assist/sidebar :: contents}"/>
<div style="margin-left:200px; padding:20px;">
    <header>
        <div id="header_title">품목관리<b class="greater">&gt;</b>카테고리 리스트 조회</div>
    </header>
<table>
    <tr>
        <th>CTGR_CD</th>
        <th>SEQ</th>
        <th>REG_USER_CD</th>
        <th>REG_DATE</th>
        <th>MDF_USER_CD</th>
        <th>MDF_DATE</th>
    </tr>
    <tr th:each="itemCategory: ${itemCategory}">
        <td th:text="${itemCategory.ctgr_cd}"></td>
        <td th:text="${itemCategory.seq}"></td>
        <td th:text="${itemCategory.reg_user_cd}"></td>
        <td th:text="${itemCategory.reg_date}"></td>
        <td th:text="${itemCategory.mdf_user_cd}"></td>
        <td th:text="${itemCategory.mdf_date}"></td>
    </tr>
</table>

<button type="button" class="btn btn-secondary" th:onclick="|window.open('@{/itemSearch}', '_blank', 'width=900,height=800')|">검색</button>
<button type="button" class="btn btn-secondary" th:onclick="|window.open('@{/categoryAdd}', '_blank', 'width=900,height=800')|">등록</button>


</div>


</div>
</body>
</html>