<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar Example</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">

</head>
<body>
<th:block th:insert="~{assist/sidebar :: contents}"/>

<table>
    <tr>
        <th>CTGR_CD</th>
        <th>SEQ</th>
        <th>REG_USER_CD</th>
        <th>REG_DATE</th>
        <th>MDF_USER_CD</th>
        <th>MDF_DATE</th>
    </tr>
    <tr th:each="itemCategory: ${itemCategory}">
        <td th:text="${itemCategory.ctgr_cd}"></td>
        <td th:text="${itemCategory.seq}"></td>
        <td th:text="${itemCategory.reg_user_cd}"></td>
        <td th:text="${itemCategory.reg_date}"></td>
        <td th:text="${itemCategory.mdf_user_cd}"></td>
        <td th:text="${itemCategory.mdf_date}"></td>
    </tr>
</table>




</div>
</body>
</html>