<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectOMS.order.repository.ItemCategoryMapper">

    <!-- 카테고리 호출 -->
    <select id="getItemCategory" resultType="ItemCategoryVO">
        select * from OMS_ITEM_CATEGORY where CPN_NM = #{cpn_nm} ORDER BY seq
    </select>

    <select id="getItemCategoryByctgrCd" resultType="ItemCategoryVO">
        select * from OMS_ITEM_CATEGORY where ctgr_cd = #{ctgr_cd}
    </select>

    <select id="getItemListOne" resultType="ItemListVO">
        select * from OMS_ITEM_LIST where ctgr_cd = #{ctgr_cd}
    </select>

    <insert id="itemCategoryAdd" parameterType="map">
        INSERT INTO OMS_ITEM_CATEGORY (
        CTGR_CD, CPN_NM, SEQ, REG_USER_CD, REG_DATE
        )
        VALUES (
        #{itemCategory.ctgr_cd, jdbcType=VARCHAR},
        #{itemCategory.cpn_nm, jdbcType=VARCHAR},
        #{itemCategory.seq, jdbcType=INTEGER},
        #{member.cpn_id, jdbcType=VARCHAR},
        sysdate
        )
    </insert>

    <delete id="deleteItemCategory" parameterType="String">
        DELETE FROM OMS_ITEM_CATEGORY WHERE CTGR_CD = #{ctgrCd}
    </delete>

    <update id="itemCategoryUpdate" parameterType="map">
        UPDATE OMS_ITEM_CATEGORY
        SET
        CPN_NM = #{itemCategory.cpn_nm, jdbcType=VARCHAR},
        SEQ = #{itemCategory.seq, jdbcType=INTEGER},
        MDF_USER_CD = #{cpn_id, jdbcType=VARCHAR},
        MDF_DATE = sysdate
        WHERE
        CTGR_CD = #{itemCategory.ctgr_cd, jdbcType=VARCHAR}
    </update>


    <!--
        <update id="itemCategoryUpdate" parameterType="ItemCategoryVO">
            UPDATE OMS_ITEM_CATEGORY
            SET
            CPN_NM = #{cpn_nm, jdbcType=VARCHAR},
            SEQ = #{seq, jdbcType=INTEGER},
            MDF_USER_CD = #{member.CPN_ID, jdbcType=VARCHAR},
            MDF_DATE= sysdate
            WHERE
            CTGR_CD = #{ctgr_cd, jdbcType=VARCHAR}
        </update> -->




</mapper>