<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectOMS.order.repository.ItemListMapper">


    <insert id="itemListAdd" parameterType="map">
        INSERT INTO OMS_ITEM_LIST (
        CTGR_CD,
        PRODUCT_CD,
        PRODUCT_NM,
        SEQ,
        NORMAL_AMOUNT,
        DISCOUNT_AMOUNT,
        RANKING,
        PRODUCT_STATE,
        PRODUCT_GUIDE,
        REG_USER_CD,
        REG_DATE
        )
        VALUES (
        #{itemList.ctgr_cd, jdbcType=VARCHAR},
        #{itemList.product_cd, jdbcType=VARCHAR},
        #{itemList.product_nm, jdbcType=VARCHAR},
        #{itemList.seq, jdbcType=INTEGER},
        #{itemList.normal_amount, jdbcType=INTEGER},
        #{itemList.discount_amount, jdbcType=INTEGER},
        #{itemList.ranking, jdbcType=INTEGER},
        #{itemList.product_state, jdbcType=VARCHAR},
        #{itemList.product_guide, jdbcType=VARCHAR},
        #{member.cpn_id, jdbcType=VARCHAR},
        sysdate
        )
    </insert>

    <select id="getItemListOne" resultType="ItemListVO">
        select * from OMS_ITEM_LIST where ctgr_cd = #{ctgr_cd}
    </select>

    <select id="getItemByProduct_cd" resultType="ItemListVO">
        select * from OMS_ITEM_LIST where product_cd = #{product_cd}
    </select>

    <update id="itemListUpdate" parameterType="map">
        UPDATE OMS_ITEM_LIST
        SET
        CTGR_CD = #{itemList.ctgr_cd, jdbcType=VARCHAR},
        PRODUCT_NM = #{itemList.product_nm, jdbcType=VARCHAR},
        SEQ = #{itemList.seq, jdbcType=INTEGER},
        NORMAL_AMOUNT = #{itemList.normal_amount, jdbcType=INTEGER},
        DISCOUNT_AMOUNT = #{itemList.discount_amount, jdbcType=INTEGER},
        RANKING = #{itemList.ranking, jdbcType=INTEGER},
        PRODUCT_STATE = #{itemList.product_state, jdbcType=VARCHAR},
        PRODUCT_GUIDE = #{itemList.product_guide, jdbcType=VARCHAR},
        MDF_USER_CD = #{mdf_user_cd, jdbcType=VARCHAR},
        MDF_DATE = sysdate
        WHERE
        PRODUCT_CD = #{itemList.product_cd, jdbcType=VARCHAR}
    </update>

    <delete id="deleteItem" parameterType="String">
        DELETE FROM OMS_ITEM_LIST WHERE product_cd = #{product_cd}
    </delete>









</mapper>