<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar Example</title>
    <link rel="stylesheet" href="styles.css">


</head>
<link rel="stylesheet" type="text/css" href="./resources/css/common.css" />
<body>
<th:block th:fragment="contents">
<div class="sidebar">
    <h2>메뉴</h2>
    <ul>
        <li><a href="/inventoryMg">재고관리</a></li>
        <li><a href="/productOrder">상품주문</a></li>
        <li><a href="/orderSerch">주문내역 조회</a></li>
        <li><a href="/deliveryMg">배달관리</a></li>
        <li><a href="/productList">상품리스트 관리</a></li>
        <li><a href="/mypage">마이페이지</a></li>
    </ul>
</div>
<div class="content">
    <!-- 메인 콘텐츠는 이곳에 추가 -->
</div>
</body>
</html>
