<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Member Sign In</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>

<body>

<th:block th:insert="~{assist/sidebar :: contents}"/>

<div style="margin-left:200px; padding:20px;">
    <form th:action="@{/mypageUpdate}" th:object="${member}" method="post">
        <div class="mb-3">
            <label for="pwInput" class="form-label">비밀번호</label>
            <input type="password" th:field="*{cpn_pw}" class="form-control" id="pwInput" placeholder="비밀번호를 입력하세요"/>
        </div>

        <div class="mb-3">
            <label for="cpnNmInput" class="form-label">회사명</label>
            <input th:field="*{cpn_nm}" class="form-control" id="cpnNmInput" />
        </div>

        <div class="mb-3">
            <label for="ceoNmInput" class="form-label">대표명</label>
            <input th:field="*{ceo_nm}" class="form-control" id="ceoNmInput" />
        </div>

        <div class="mb-3">
            <label for="cpnBizNoInput" class="form-label">사업자번호</label>
            <input th:field="*{cpn_biz_no}" class="form-control" id="cpnBizNoInput" />
        </div>

        <div class="mb-3">
            <label for="cpnAddrInput" class="form-label">회사주소명</label>
            <input th:field="*{cpn_addr}" class="form-control" id="cpnAddrInput" />
        </div>

        <div class="mb-3">
            <label for="cpnDescInput" class="form-label">업체설명</label>
            <input th:field="*{cpn_desc}" class="form-control" id="cpnDescInput" />
        </div>

        <div class="mb-3">
            <label for="cpnTelInput" class="form-label">전화번호</label>
            <input th:field="*{cpn_tel}" class="form-control" id="cpnTelInput" />
        </div>

        <div class="mb-3">
            <label for="emailInput" class="form-label">이메일</label>
            <input th:field="*{cpn_email}" class="form-control" id="emailInput" />
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-secondary" onclick="history.back()">취소</button>
    </form>
</div>

</body>
</html>
